@import url("common.css");
.image-container {
    background-image: url("https://nurseryschool.wustl.edu/files/2015/03/group-holi.jpg");
}

main ul {
    margin-top: 1em;
}

main li {
    margin-bottom: 1em;
    margin-left: 2em;
    font-size: 1.15em;
}
